html,
body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  font-family: PT Sans Narrow;
  color: #fff;
}
a {
  color: #ff9800;
  text-decoration: none;
}
a:hover {
  color: #b36a00;
}
.block-a {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  min-height: 100%;
  position: relative;
  background: url("../img/bg-small.png"), url("../img/bg-a.jpg");
  background-size: 30px, cover;
  background-repeat: repeat, no-repeat;
}
.block-a:before,
.block-a:after {
  content: '';
  display: table;
}
.block-a:after {
  clear: both;
}
h1,
h2 {
  margin: 5px;
}
.block-a h1,
.block-b h1,
.block-c h1,
.block-d h1 {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .block-a h1,
  .block-b h1,
  .block-c h1,
  .block-d h1 {
    font-size: 1.5em;
  }
}
.block-a h2,
.block-b h2,
.block-c h2,
.block-d h1 {
  *zoom: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}
.block-a h2:before,
.block-b h2:before,
.block-c h2:before,
.block-d h1:before,
.block-a h2:after,
.block-b h2:after,
.block-c h2:after,
.block-d h1:after {
  content: '';
  display: table;
}
.block-a h2:after,
.block-b h2:after,
.block-c h2:after,
.block-d h1:after {
  clear: both;
}
@media only screen and (max-width: 600px) {
  .block-a h2,
  .block-b h2,
  .block-c h2,
  .block-d h1 {
    font-size: 1em;
  }
}
.block-b,
.block-d {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background: #000;
  min-height: 100%;
  position: relative;
  background: url("../img/simple_dashed.png");
  background-size: 14px;
}
.block-b:before,
.block-d:before,
.block-b:after,
.block-d:after {
  content: '';
  display: table;
}
.block-b:after,
.block-d:after {
  clear: both;
}
.block-c {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background: #000;
  min-height: 100%;
  position: relative;
  background: url("../img/bg-small.png"), url("../img/bg-b.jpg");
  background-size: 30px, cover;
  background-repeat: repeat, no-repeat;
}
.block-c:before,
.block-c:after {
  content: '';
  display: table;
}
.block-c:after {
  clear: both;
}
.down {
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -16px;
}
@media only screen and (max-width: 600px) {
  .down {
    display: none;
  }
}
.logo {
  margin: 30px;
}
@media only screen and (max-width: 600px) {
  .logo {
    margin: 5px;
  }
}
.order {
  background-color: #008000;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  border: solid 1px #004d00;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .order {
    font-size: 0.8em;
    padding: 3px;
  }
}
.order:hover {
  background-color: #007300;
  color: #fff;
}
.items {
  *zoom: 1;
  width: auto;
  max-width: 760px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: auto;
  *zoom: 1;
}
.items:before,
.items:after {
  content: '';
  display: table;
}
.items:after {
  clear: both;
}
.items:before,
.items:after {
  content: '';
  display: table;
}
.items:after {
  clear: both;
}
.item {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 23.78%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 0px;
  margin: 4px;
}
.item:before,
.item:after {
  content: '';
  display: table;
}
.item:after {
  clear: both;
}
.item:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  .item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .item:before,
  .item:after {
    content: '';
    display: table;
  }
  .item:after {
    clear: both;
  }
  .item:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  .item:nth-child(2n+1) {
    clear: both;
  }
}
.works {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 47.47%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  margin: 4px;
  border: 1px solid #fff;
  cursor: pointer;
  overflow: hidden;
}
.works:before,
.works:after {
  content: '';
  display: table;
}
.works:after {
  clear: both;
}
.works:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.works:nth-child(2n+1) {
  clear: both;
}
.works img {
  max-width: 100%;
  transition: all 0.2s ease-in-out;
}
.works img:hover {
  transform: scale(1.3);
}
.works span {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: #fff;
  background: rgba(0,0,0,0.75);
}
@media only screen and (max-width: 600px) {
  .works span {
    font-size: 0.4em;
  }
}
table {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 47.47%;
  margin-left: 0%;
  margin-right: 3%;
  font-size: 1.2em;
  text-align: left;
}
table:before,
table:after {
  content: '';
  display: table;
}
table:after {
  clear: both;
}
table:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
table:nth-child(2n+1) {
  clear: both;
}
@media only screen and (max-width: 600px) {
  table {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    font-size: 0.8em;
    text-align: left;
  }
  table:before,
  table:after {
    content: '';
    display: table;
  }
  table:after {
    clear: both;
  }
  table:last-child {
    margin-right: 0%;
  }
}
table tr {
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
  background: rgba(0,0,0,0.5);
}
table tr td {
  padding: 2px 5px;
}
table tr td img {
  margin-right: 5px;
}
table td:hover {
  background: rgba(0,0,0,0.5);
}
.left,
.right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 47.47%;
  margin-left: 0%;
  margin-right: 3%;
  font-size: 1.2em;
  text-align: left;
}
.left:before,
.right:before,
.left:after,
.right:after {
  content: '';
  display: table;
}
.left:after,
.right:after {
  clear: both;
}
.left:nth-child(2n),
.right:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.left:nth-child(2n+1),
.right:nth-child(2n+1) {
  clear: both;
}
@media only screen and (max-width: 600px) {
  .left,
  .right {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .left:before,
  .right:before,
  .left:after,
  .right:after {
    content: '';
    display: table;
  }
  .left:after,
  .right:after {
    clear: both;
  }
  .left:last-child,
  .right:last-child {
    margin-right: 0%;
  }
}
h4 {
  margin: 0px;
  font-size: 0.9em;
  text-align: center;
  border-bottom: 1px solid #ccc;
  color: #ff9800;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  h4 {
    font-size: 0.8em;
    color: #ffa500;
  }
}
form {
  background: rgba(255,255,255,0.3);
  text-align: center;
  border-left: 1px dashed #ccc;
}
form input,
form button {
  width: 85%;
  margin: 5px;
  padding: 5px;
  border-radius: 0px;
  border: 1px solid #fff;
}
form input[type="text"] {
  padding: 8px;
  font-size: 1em;
}
form .dropzone {
  position: relative;
  width: 90%;
  height: 150px;
  margin: 5px auto;
  padding: 5px auto;
  color: #242424;
  border: 2px dashed #008000;
  background-color: #fff;
}
.feedback {
  background: rgba(0,0,0,0.9);
  font-size: 0.8em;
  text-align: justify;
  margin-top: 5px;
  padding: 5px;
}
.feedback b {
  border-bottom: 1px dashed;
}
.feedback img {
  margin-right: 5px;
  vertical-align: middle;
}
.more {
  text-align: center;
}
.more a {
  color: #ff9800;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .more a {
    font-size: 0.9em;
  }
}

