doctype html
html
  head(lang="en")
    title Кузовной ремонт автомобилей в Набережных Челнах.
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="Выполняем кузовные работы любой сложности. Доступные цены. Качество и гарантия.")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    // [if lt IE 9]
    script(type="text/javascript", src="js/html5shiv.js")
    // [endif]	
    link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic', rel='stylesheet' type='text/css')
    block css
    link(rel="stylesheet", href="css/screen.css", type="text/css")

   body
     header.block-a
      img.logo(src="img/car.png", width="50", height="50")
      h1.wow.bounceInDown Кузовной ремонт автомобилей
      h2.wow.bounceInUp в Набережных Челнах
      h2.wow.bounceInUp +7(927)046-00-70
      hr(width="70%")
      
      .items
        span.item.wow.bounceInUp(data-wow-delay="0.1s")
          img(src="img/wharranty.png", width="60", height="60")
          br  
          |Гарантия 24 месяца    
           
        span.item.wow.bounceInUp(data-wow-delay="0.2s")
          img(src="img/worker.png", width="60", height="60")
          br
          |Работают профессионалы
        span.item.wow.bounceInUp(data-wow-delay="0.3s")
          img(src="img/colors.png", width="60", height="60")
          br
          |100% попадание в цвет
        span.item.wow.bounceInUp(data-wow-delay="0.4s")
          img(src="img/price.png", width="60", height="60")
          br
          |Доступные цены
      br
      h2 Ремонт одной детали с покраской: от 2500 руб.
      span.more 
        a(href="#block-c") Прайс лист на все наши услуги &raquo;
      br
      br 
      br   
      a.order(href="#order") Рассчитать стоимость ремонта по фото &raquo; 
      br
      br

      a.down.wow.wobble(href="#block-b", data-wow-delay="10s", data-wow-iteration="2")
        img(src="img/down.png")
    

   section.block-b#block-b
     h1.wow.bounceInDown Примеры наших работ

     .items 
       
       .works.wow.bounceInLeft(data-wow-delay="0.1s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
       .works.wow.bounceInLeft(data-wow-delay="0.3s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
       .works.wow.bounceInLeft(data-wow-delay="0.2s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
       .works.wow.bounceInLeft(data-wow-delay="0.4s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
       .works.wow.bounceInLeft(data-wow-delay="0.5s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
       .works.wow.bounceInLeft(data-wow-delay="0.6s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
        span.more 
          a(href="#vk") Посмотреть все наши работы в фотоальбоме Вконтакте &raquo;  

     a.down(href="#block-c")
        img(src="img/down.png")

   section.block-c#block-c
      h1.wow.bounceInDown Цены на наши услуги

      .items
        table
          tr
            td
              img(src="img/ok3.png")
              |Замена лобового стекла
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена бампера
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Ремонт бампера + покраска
            td От 2.000 рублей

          tr
            td
              img(src="img/ok3.png")
              |Замена двери
            td От 2.000 рублей
          
          tr
            td
              img(src="img/ok3.png")
              |Ремонт двери + покраска
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена лобового стекла
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена бампера
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Ремонт бампера + покраска
            td От 2.000 рублей

          tr
            td
              img(src="img/ok3.png")
              |Замена двери
            td От 2.000 рублей
          
          tr
            td
              img(src="img/ok3.png")
              |Ремонт двери + покраска
            td От 2.000 рублей   
        table
          tr
            td
              img(src="img/ok3.png")
              |Замена лобового стекла
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена бампера
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Ремонт бампера + покраска
            td От 2.000 рублей

          tr
            td
              img(src="img/ok3.png")
              |Замена двери
            td От 2.000 рублей
          
          tr
            td
              img(src="img/ok3.png")
              |Ремонт двери + покраска
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена лобового стекла
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена бампера
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Ремонт бампера + покраска
            td От 2.000 рублей

          tr
            td
              img(src="img/ok3.png")
              |Замена двери
            td От 2.000 рублей
          
          tr
            td
              img(src="img/ok3.png")
              |Защитная полировка кузова
            td От 3.000 рублей      
        span.more 
          a(href="#order") Оценить стоимость ремонта вашего автомобиля по фотографиям &raquo;
      br

      br  
      a.down.wow.wobble(href="#block-d", data-wow-delay="10s", data-wow-iteration="2")
        img(src="img/down.png")


   section.block-d#block-d
     h1.wow.bounceInDown Отзывы клиентов и контактные данные

     .items
       .left
          h4#order Оценить стоимость ремонта онлайн
          form
           input(type="text", placeholder="Телефон для связи")
           .dropzone#dropzone
            
           button.send(type="button")  Расчитать стоимость

          h4 Контакты
          .contact_item
            |Телефон/Whatsapp/Telegram: 
            a(href="tel:+79270460070")|+7(927)046-00-70
          h4 Схема проезда
          
          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d71981.63057800193!2d52.29626755!3d55.68158184999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1446689861436", width="100%", height="250" ,frameborder="0", style="border:0")

       .right
          h4 Отзывы наших клиентов
          .feedback.wow.bounceInUp(data-wow-delay="0.1s")
            img(src="img/add.png")
            b Рамиль, Набережные Челны, Honda Civic
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quam repellendus iusto blanditiis inventore impedit molestias, vero repellat ad aspernatur.
          .feedback.wow.bounceInUp(data-wow-delay="0.2s")
            img(src="img/add.png")
            b Рамиль, Набережные Челны, Honda Civic
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quam repellendus iusto blanditiis inventore impedit molestias, vero repellat ad aspernatur.
          .feedback.wow.bounceInUp(data-wow-delay="0.3s")
            img(src="img/add.png")
            b Рамиль, Набережные Челны, Honda Civic
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quam repellendus iusto blanditiis inventore impedit molestias, vero repellat ad aspernatur.
          .feedback.wow.bounceInUp(data-wow-delay="0.4s")
            img(src="img/add.png")
            b Рамиль, Набережные Челны, Honda Civic
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quam repellendus iusto blanditiis inventore impedit molestias, vero repellat ad aspernatur.

      

link(rel="stylesheet", href="css/animate.min.css", type="text/css")
link(rel="stylesheet", href="css/dropzone.css", type="text/css")
script(type="text/javascript", src="js/jquery.min.js")
script(type="text/javascript", src="js/notify.min.js")
script(type="text/javascript", src="js/wow.min.js")
script(type="text/javascript", src="js/dropzone.js")
script(type="text/javascript", src="js/engine.js")     