doctype html
html
  head(lang="en")
    title Samle Template
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="Description")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    // [if lt IE 9]
    script(type="text/javascript", src="js/html5shiv.js")
    // [endif]	
    link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic', rel='stylesheet' type='text/css')
    block css
    link(rel="stylesheet", href="css/screen.css", type="text/css")

   body
     header.block-a
      img.logo(src="img/car.png", width="50", height="50")
      h1.wow.bounceInDown Кузовной ремонт автомобилей
      h2.wow.bounceInUp в Набережных Челнах
      h2.wow.bounceInUp +7(927)046-00-70
      hr(width="70%")
      
      .items
        span.item.wow.bounceInUp(data-wow-delay="0.1s")
          img(src="img/wharranty.png", width="60", height="60")
          br  
          |Гарантия 24 месяца    
           
        span.item.wow.bounceInUp(data-wow-delay="0.2s")
          img(src="img/worker.png", width="60", height="60")
          br
          |Работают профессионалы
        span.item.wow.bounceInUp(data-wow-delay="0.3s")
          img(src="img/colors.png", width="60", height="60")
          br
          |100% попадание в цвет
        span.item.wow.bounceInUp(data-wow-delay="0.4s")
          img(src="img/price.png", width="60", height="60")
          br
          |Доступные цены
      br
      br  
      h2 Ремонт одной детали с покраской: от 2500 руб.
      br
      br
      a.order(href="#dropzone") Рассчитать стоимость ремонта по фото &raquo; 
      br
      br  
      a.down.wow.wobble(href="#block-b", data-wow-delay="10s", data-wow-iteration="2")
        img(src="img/down.png")
    

   section.block-b#block-b
     h1.wow.bounceInDown Примеры наших работ

     .items 
       
       .works.wow.bounceInLeft(data-wow-delay="0.1s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
       .works.wow.bounceInLeft(data-wow-delay="0.3s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
       .works.wow.bounceInLeft(data-wow-delay="0.2s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
       .works.wow.bounceInLeft(data-wow-delay="0.4s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
       .works.wow.bounceInLeft(data-wow-delay="0.5s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 
       .works.wow.bounceInLeft(data-wow-delay="0.6s")
         img(src="img/before-after.jpg")
         span 
          |Ремонт бампера Suzuki Grand Vitara 2. + Покарска. 
          br
          |Стоимость: 4500р. 


     a.down(href="#block-c")
        img(src="img/down.png")

   section.block-c#block-c
      h1.wow.bounceInDown Цены на наши услуги

      .items
        table
          tr
            td
              img(src="img/ok3.png")
              |Замена лобового стекла
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена бампера
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Ремонт бампера + покраска
            td От 2.000 рублей

          tr
            td
              img(src="img/ok3.png")
              |Замена двери
            td От 2.000 рублей
          
          tr
            td
              img(src="img/ok3.png")
              |Ремонт двери + покраска
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена лобового стекла
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена бампера
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Ремонт бампера + покраска
            td От 2.000 рублей

          tr
            td
              img(src="img/ok3.png")
              |Замена двери
            td От 2.000 рублей
          
          tr
            td
              img(src="img/ok3.png")
              |Ремонт двери + покраска
            td От 2.000 рублей   
        table
          tr
            td
              img(src="img/ok3.png")
              |Замена лобового стекла
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена бампера
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Ремонт бампера + покраска
            td От 2.000 рублей

          tr
            td
              img(src="img/ok3.png")
              |Замена двери
            td От 2.000 рублей
          
          tr
            td
              img(src="img/ok3.png")
              |Ремонт двери + покраска
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена лобового стекла
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Замена бампера
            td От 2.000 рублей
          tr
            td
              img(src="img/ok3.png")
              |Ремонт бампера + покраска
            td От 2.000 рублей

          tr
            td
              img(src="img/ok3.png")
              |Замена двери
            td От 2.000 рублей
          
          tr
            td
              img(src="img/ok3.png")
              |Защитная полировка кузова
            td От 3.000 рублей      
      br
      br  
      a.down.wow.wobble(href="#block-d", data-wow-delay="10s", data-wow-iteration="2")
        img(src="img/down.png")


   section.block-d#block-d
     h1.wow.bounceInDown Отзывы клиентов и контактные данные

     .items
        .left
        .right
          h4 Оценить стоимость ремонта по фотографиям
          form
           input(type="text", placeholder="Телефон для связи")
           .dropzone#dropzone
            
           button.order Расчитать стоимость  

link(rel="stylesheet", href="css/animate.min.css", type="text/css")
link(rel="stylesheet", href="css/dropzone.css", type="text/css")
script(type="text/javascript", src="js/jquery.min.js")
script(type="text/javascript", src="js/wow.min.js")
script(type="text/javascript", src="js/dropzone.js")
script(type="text/javascript", src="js/engine.js")     